<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{176,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{176,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{176,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,94},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,94},{176,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{176,88}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroRun.png</string>
            <key>size</key>
            <string>{714,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be35bcb93699e0c022c9fd0770b7618:6c6f6aea04e7c100b8f94573b35ba947:bc7224ee9e34732db69fd17fab50c7d6$</string>
            <key>textureFileName</key>
            <string>heroRun.png</string>
        </dict>
    </dict>
</plist>
