<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>heroAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,89}}</string>
                <key>sourceSize</key>
                <string>{128,89}</string>
            </dict>
            <key>heroAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>heroAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,89}}</string>
                <key>sourceSize</key>
                <string>{128,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroAttack.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b371c4f509f07c385eafd26b810d991$</string>
            <key>textureFileName</key>
            <string>heroAttack.png</string>
        </dict>
    </dict>
</plist>
