<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroMove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{118,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,82}}</string>
                <key>sourceSize</key>
                <string>{118,82}</string>
            </dict>
            <key>heroMove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,174},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>heroMove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{124,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,83}}</string>
                <key>sourceSize</key>
                <string>{124,83}</string>
            </dict>
            <key>heroMove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,83}}</string>
                <key>sourceSize</key>
                <string>{126,83}</string>
            </dict>
            <key>heroMove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,84}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>heroMove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,88},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>heroMove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>heroMove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{118,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,82}}</string>
                <key>sourceSize</key>
                <string>{118,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroMove.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c83ef070e937f3b83804168089d1e8$</string>
            <key>textureFileName</key>
            <string>heroMove.png</string>
        </dict>
    </dict>
</plist>
