<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>heroHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroHurt.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29e8ef49c270ded8dd77d53eefa13363$</string>
            <key>textureFileName</key>
            <string>heroHurt.png</string>
        </dict>
    </dict>
</plist>
