<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,99}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{165,99}}</string>
                <key>sourceSize</key>
                <string>{177,105}</string>
            </dict>
            <key>monster_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{163,99}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{163,99}}</string>
                <key>sourceSize</key>
                <string>{177,105}</string>
            </dict>
            <key>monster_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,99}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{165,99}}</string>
                <key>sourceSize</key>
                <string>{177,105}</string>
            </dict>
            <key>monster_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{165,99}}</string>
                <key>sourceSize</key>
                <string>{177,105}</string>
            </dict>
            <key>monster_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{163,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{163,99}}</string>
                <key>sourceSize</key>
                <string>{177,105}</string>
            </dict>
            <key>monster_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{163,99}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{163,99}}</string>
                <key>sourceSize</key>
                <string>{177,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsterRun.png</string>
            <key>size</key>
            <string>{998,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd203336a62ec05372e043482884b7a:bc1cad6517733767ffff3080d9ace285:1c63164c85d7ecba672e1097269fccf2$</string>
            <key>textureFileName</key>
            <string>monsterRun.png</string>
        </dict>
    </dict>
</plist>
