<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,98}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{193,98}}</string>
                <key>sourceSize</key>
                <string>{223,98}</string>
            </dict>
            <key>monster_hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{201,96}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{201,96}}</string>
                <key>sourceSize</key>
                <string>{223,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterHurt.png</string>
            <key>size</key>
            <string>{400,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de32fe953d59bb0abe9a6756f3f96dd2:a029797baa35e6d4f9177664fb985bdb:c3d1265230e319183b08aed94a217f85$</string>
            <key>textureFileName</key>
            <string>MonsterHurt.png</string>
        </dict>
    </dict>
</plist>
