<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{140,96}}</string>
                <key>offset</key>
                <string>{-38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,96}}</string>
                <key>sourceSize</key>
                <string>{216,114}</string>
            </dict>
            <key>monster_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{152,98}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{152,98}}</string>
                <key>sourceSize</key>
                <string>{216,114}</string>
            </dict>
            <key>monster_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{210,100}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{210,100}}</string>
                <key>sourceSize</key>
                <string>{216,114}</string>
            </dict>
            <key>monster_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{174,106}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{174,106}}</string>
                <key>sourceSize</key>
                <string>{216,114}</string>
            </dict>
            <key>monster_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,110}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{144,110}}</string>
                <key>sourceSize</key>
                <string>{216,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsterAttack.png</string>
            <key>size</key>
            <string>{832,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aa3236a467366a48378aae3830f3047:b185eebe2172a974f3aa70037adb7a86:80c7f6887b5939788ece2a23ab88456e$</string>
            <key>textureFileName</key>
            <string>monsterAttack.png</string>
        </dict>
    </dict>
</plist>
