<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,118}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,60},{183,118}}</string>
                <key>sourceSize</key>
                <string>{345,200}</string>
            </dict>
            <key>monster_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{181,78}}</string>
                <key>offset</key>
                <string>{-68,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,117},{181,78}}</string>
                <key>sourceSize</key>
                <string>{345,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterDead.png</string>
            <key>size</key>
            <string>{370,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc5fbcedc235510d7b8a929a4fa40c77:5c5bee70e396ee3736d7b3b14cb5e7b9:dc304333a3e2833a34ed08f6ce259500$</string>
            <key>textureFileName</key>
            <string>MonsterDead.png</string>
        </dict>
    </dict>
</plist>
