<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattleHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{189,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,127}}</string>
                <key>sourceSize</key>
                <string>{189,127}</string>
            </dict>
            <key>cattleHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,110}}</string>
                <key>sourceSize</key>
                <string>{208,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cattleHurt.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a535eb63f86cb2494a4e5828fc24d0$</string>
            <key>textureFileName</key>
            <string>cattleHurt.png</string>
        </dict>
    </dict>
</plist>
