<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cattleMove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,76}}</string>
                <key>sourceSize</key>
                <string>{276,76}</string>
            </dict>
            <key>cattleMove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,238},{269,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,77}}</string>
                <key>sourceSize</key>
                <string>{269,77}</string>
            </dict>
            <key>cattleMove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{274,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,80}}</string>
                <key>sourceSize</key>
                <string>{274,80}</string>
            </dict>
            <key>cattleMove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{274,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,79}}</string>
                <key>sourceSize</key>
                <string>{274,79}</string>
            </dict>
            <key>cattleMove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{276,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,75}}</string>
                <key>sourceSize</key>
                <string>{276,75}</string>
            </dict>
            <key>cattleMove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,238},{270,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,78}}</string>
                <key>sourceSize</key>
                <string>{270,78}</string>
            </dict>
            <key>cattleMove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{271,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,80}}</string>
                <key>sourceSize</key>
                <string>{271,80}</string>
            </dict>
            <key>cattleMove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,278},{265,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,78}}</string>
                <key>sourceSize</key>
                <string>{265,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cattleMove.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f89ce42f7a914bd5753004271851da1$</string>
            <key>textureFileName</key>
            <string>cattleMove.png</string>
        </dict>
    </dict>
</plist>
